<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System for teacher or tutor</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <meta name="description" content="Manage student attendance and details efficiently with our tutor portal.">
    <meta name="keywords" content=" tutor portal, student attendance, contact details ">
    <style>
        *{
            font-family: 'Times New Roman', Times, serif;
        }
.mainbox{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
input{
    width:90%;
    height:30px;
    border:1px solid green;
    padding-left:15px;
    font-size:1rem;

}
button{
    border:1px solid blue;
    width:40%;
    height:30px;
    background-color: blueviolet;
    color:white;

}
button:hover{
    scale:0.9;
}

    </style>
</head>
<body>
   <div class="mainbox">
    <form action="/forgetpassword" method="post">
        <input type="email" name="email" placeholder="name@gmail.com" required><br><br>
        <button>Submit</button>
    </form>
   </div> 
</body>
</html>