<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System for Teacher or Tutor</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <meta name="description" content="Manage student attendance and details efficiently with our tutor portal.">
    <meta name="keywords" content=" tutor portal, tutor, teacher, currentaffair, Government jobs, student attendance, contact details ">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-512Y1MVSGY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-512Y1MVSGY');
</script>
</head>
<style>
    *{
        margin:0%;
        padding:0%;
        font-family: 'Times New Roman', Times, serif;
    }

    
        #load {
            display:flex;
            justify-content:center;
            align-items:center;
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 9999;
           
        }

    #content{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        gap:8px;
        height:100vh
    }
    .login{
        width:300px;
        height: 200px;
        box-shadow: 0px 0px 10px white;
        padding-top:20px;
    }
    input{
        border:1px solid green;
        border-radius:20px;
        width:90%;
        height:30px;
        font-size: 1rem;
        padding-left: 18px;
    }
    button{
        border:1px solid grren;
        border-radius:25px;
        width:280px;
        height:30px;
        background-color: blueviolet;
        color:white;
        cursor:pointer;
       
    }
    button:hover{
        scale:0.9;
    }
    img{
        width:150px;
        height:150px;
        border-radius:50%;
        box-shadow: 0px 0px 10px green;
    }
    #forget{
        display:flex;
        justify-content:center;
    align-items: center;
    margin-top:10px;
    }
    .fot{
        font-size: 1rem;
        display:flex;
        justify-content: center;

    }

</style>
<body>
<div id="load">
    <img src="images/logo.png" alt="one hand writing attendance">
</div>
    <div id="content">
        <div class="im">
            <img src="images/logo.png" alt="one hand writing attendance">
        </div>
        <div>
            <p>Welcome!</p>
        </div>
        
            <form action="/login" method="post" class="login">
                <input type="text" name="name" placeholder="Place your name"><br><br>
                <input type="password" name="password" placeholder="Password"><br><br>
                <button type="submit">Login</button>
                <a href="/forget" id="forget">Forget Password?</a>
                <a href="/signin" id="forget" >Signin</a>
                <a href="https://youtu.be/iPDBaMWQCXg?si=xa7MQ_B08-U2d2nq" id="forget">Demo</a>
            </form><br>
          
        <div class="fot"><h5>&copy;Attnify.in:2024</h5></div>
    </div>
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState;
            if (state === 'interactive') {
                // Hide the content until fully loaded
                document.getElementById('content').style.visibility = "hidden";
            } else if (state === 'complete') {
                // Show the content after a delay (adjust the timeout as needed)
                setTimeout(function () {
                    document.getElementById('load').style.visibility = "hidden";
                    document.getElementById('content').style.visibility = "visible";
                }, 1000);
            }
        };
    </script>
</body>
</html>